# =========================================================
# DuckDB
# =========================================================
DUCKDB_PATH=/usr/local/airflow/duckdb_data/ecommerce.duckdb

# =========================================================
# Postgres Warehouse (camada de armazenamento analítico)
# =========================================================
POSTGRES_HOST=postgres-warehouse
POSTGRES_PORT=5432
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=pass12345
POSTGRES_DB=ecommerce

# Porta exposta no HOST para acessar o warehouse de fora do docker
POSTGRES_WAREHOUSE_HOST_PORT=5433

# =========================================================
# Marquez DB
# =========================================================
MARQUEZ_DB_USER=marquez
MARQUEZ_DB_PASSWORD=marquez
MARQUEZ_DB_NAME=marquez

# =========================================================
# Marquez API / Web (portas de host)
# =========================================================
MARQUEZ_API_PORT=5000
MARQUEZ_ADMIN_PORT=5001
MARQUEZ_WEB_PORT=3000

# =========================================================
# OpenLineage (consumido pelo Airflow)
# =========================================================
OPENLINEAGE_URL=http://marquez:5000
OPENLINEAGE_NAMESPACE=ecommerce_lineage
