.env
.venv/
__pycache__/
*.pyc

# Astro CLI
.astro/

# dbt
include/dbt/ecommerce/target/
include/dbt/ecommerce/dbt_packages/
include/dbt/ecommerce/logs/
include/dbt/ecommerce/dbt.duckdb
include/dbt/ecommerce/*.duckdb.wal

# Logs do Airflow gerados por `astro dev start`
logs/